:root {
    --primary-color: #800000; /* Grená */
    --secondary-color: #722F37; /* Vinho */
    --text-color: #5c5c5c;
    --text-color-dark: #222222;
    --text-color-light: #959595;
    --body-color: white;
    --border-color: #d2d2d2;
    --black: #000;
    --white: #fff;
    --light: rgb(240, 240, 240);
    --font-family: 'Poppins', sans-serif;
  }
  
  /* Estilos Globais */
  body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--body-color);
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
  }
  
  /* Navbar */
  .navbar {
    background-color: var(--white);
  }
  
  .navbar-nav .nav-link {
    color: var(--primary-color);
  }
  
  .navbar-nav .nav-link:hover {
    color: var(--secondary-color);
  }
  
  /* Banner */
  .gradient-banner {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  }
  
  /* Botões */
  .btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white);
  }
  
  .btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
  
  /* Rodapé */
  footer {
    background-color: var(--primary-color);
    color: var(--white);
  }
  
  footer a {
    color: var(--white);
  }
  
  footer a:hover {
    color: var(--secondary-color);
  }